In [1]:
import numpy as np
students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 92, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [2]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87

In [24]:
import random
def get_names(nums:int=10)->list[str]:
    with open('names.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split("\n")
        randam_names = random.sample(names,nums)
        
    return randam_names

get_names(5)

['蔡孟泉', '林玉佩', '賴苑禾', '郭舜昇', '李政成']

In [27]:
student_nums = 5
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','地理','探討'],
             index=get_names(student_nums))
students

     國文   英文  數學  地理  探討
周琬婷  65   84  84  89  99
黃雅慧  72   58  59  79  62
游一鈺  63  100  98  61  84
謝貞妃  86   72  89  86  54
陳信宏  59   66  98  74  53

In [5]:
import random
def get_names(nums:int=10)->list[str]:
    with open('names.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split("\n")
        randam_names = random.sample(names,nums)
        
    return randam_names

get_names(5)

['李彥伸', '羅佩樺', '楊韋廷', '黃江旭', '盧必妍']

In [6]:
student_nums = 50
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','地理','探討'],
             index=get_names(student_nums))

In [7]:
students.to_csv('student.csv')
print("csv存檔成功")

csv存檔成功