In [ ]:
import pandas as pd

df = pd.read_csv('student.csv',index_col=0)
df

In [5]:
df = pd.read_excel('student.xlsx',index_col=0)
df.head()

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76

- 透過欄選取
- 透過列選取

In [ ]:
# 透過欄選取
# 單欄選取
df['國文'] #Series

In [ ]:
# 多欄選取
df[['國文','數學']]

In [9]:
#loc->使用索引的名稱
#iloc->使用索引的index

df.loc['張韋成']
df.loc[['張韋成','蒙淑惠']]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [11]:
df.iloc[0]
df.iloc[[0,3]]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [12]:
df.loc['張韋成':'蒙淑惠']

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57

In [13]:
df.iloc[0:3]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70