In [ ]:
import pandas as pd

df = pd.read_csv('student.csv',index_col=0)
df

In [5]:
df = pd.read_excel('student.xlsx',index_col=0)
df.head()

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76

- 透過欄選取
- 透過列選取

In [ ]:
# 透過欄選取
# 單欄選取
df['國文'] #Series

In [ ]:
# 多欄選取
df[['國文','數學']]

In [9]:
#loc->使用索引的名稱
#iloc->使用索引的index

df.loc['張韋成']
df.loc[['張韋成','蒙淑惠']]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [11]:
df.iloc[0]
df.iloc[[0,3]]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [12]:
df.loc['張韋成':'蒙淑惠']

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57

In [13]:
df.iloc[0:3]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70

In [18]:
df.head()
df.loc['柯韋成','地理'] = 61
df.head()

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  61  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76

In [22]:
df[:10]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  61  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76
余宗儒  50  51  99  86  91
陳家年  50  67  53  77  65
唐雪豪  87  53  96  82  91
金宜芳  57  55  86  91  71
吳振瑋  93  61  96  66  64

In [23]:
df[-10:]

     國文   英文  數學   地理   探討
胡姿婷  59   54  68   67   71
王梅劭  83   86  62   82   91
林義皓  74   86  67   85   74
陳信念  91  100  71   88   50
張婕妤  87   72  58   91   84
林建勳  59   64  62   72   76
賴昌韻  89   82  99   60   70
劉耿琦  78   75  76   87   72
陳建香  96   76  68   78   65
林怡偉  90   70  61  100  100