In [ ]:
import pandas as pd

df = pd.read_csv('student.csv',index_col=0)
df

In [5]:
df = pd.read_excel('student.xlsx',index_col=0)
df.head()

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76

- 透過欄選取
- 透過列選取

In [ ]:
# 透過欄選取
# 單欄選取
df['國文'] #Series

In [ ]:
# 多欄選取
df[['國文','數學']]

In [9]:
#loc->使用索引的名稱
#iloc->使用索引的index

df.loc['張韋成']
df.loc[['張韋成','蒙淑惠']]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [11]:
df.iloc[0]
df.iloc[[0,3]]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
蒙淑惠  95  52  61  64  57

In [12]:
df.loc['張韋成':'蒙淑惠']

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70
蒙淑惠  95  52  61  64  57

In [13]:
df.iloc[0:3]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  50  70

In [18]:
df.head()
df.loc['柯韋成','地理'] = 61
df.head()

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  61  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76

In [22]:
df[:10]

     國文  英文  數學  地理  探討
張韋成  72  85  82  52  65
龔姵君  95  57  84  58  96
柯韋成  76  82  90  61  70
蒙淑惠  95  52  61  64  57
孫火清  98  64  70  96  76
余宗儒  50  51  99  86  91
陳家年  50  67  53  77  65
唐雪豪  87  53  96  82  91
金宜芳  57  55  86  91  71
吳振瑋  93  61  96  66  64

In [23]:
df[-10:]

     國文   英文  數學   地理   探討
胡姿婷  59   54  68   67   71
王梅劭  83   86  62   82   91
林義皓  74   86  67   85   74
陳信念  91  100  71   88   50
張婕妤  87   72  58   91   84
林建勳  59   64  62   72   76
賴昌韻  89   82  99   60   70
劉耿琦  78   75  76   87   72
陳建香  96   76  68   78   65
林怡偉  90   70  61  100  100

In [27]:
df['國文'] + df['英文'] + df['地理'] + df['數學'] + df['探討']

張韋成    356
龔姵君    390
柯韋成    379
蒙淑惠    329
孫火清    404
余宗儒    377
陳家年    312
唐雪豪    409
金宜芳    360
吳振瑋    380
張家秀    388
林麗萍    411
臧怡君    352
白世宏    353
陳樂紫    386
彭虹屏    349
蔡士賢    380
陳俊憲    393
李美洋    362
張伊映    328
陳逸凡    385
姜琬婷    375
王坤安    362
鄭佳玲    395
李立偉    384
劉佳佩    340
賴又琦    391
許芳如    314
林珈發    427
王明昇    411
李彥伸    378
謝佳穎    348
林希啟    382
呂傑宣    384
張牧聿    383
楊健麟    362
張軒宸    375
林康亮    338
邱亭君    341
余丞苓    368
胡姿婷    319
王梅劭    404
林義皓    386
陳信念    400
張婕妤    392
林建勳    333
賴昌韻    400
劉耿琦    388
陳建香    383
林怡偉    421
dtype: int64

In [33]:
stu_sum = df.sum(axis=1)
stu_mean = stu_sum / 5.0

In [35]:
df['總分'] = stu_sum
df['平均'] = stu_mean

In [38]:
df.tail()

     國文  英文  數學   地理   探討   總分    平均
林建勳  59  64  62   72   76  333  66.6
賴昌韻  89  82  99   60   70  400  80.0
劉耿琦  78  75  76   87   72  388  77.6
陳建香  96  76  68   78   65  383  76.6
林怡偉  90  70  61  100  100  421  84.2